---
layout: page
title: "About"
description: "关于我"
header-img: "img/home-bg1.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>Like ACG的非专业PHP Coder<br>
    前端那么大，我想去看看。</p></blockquote>

    <p>こんにちは，我是<strong>李祎</strong>，码农喵一只，<a href="http://sse.hust.edu.cn/">华中科技大学</a> · 软件工程 2013 级；<a href="http://genshuixue.com">跟谁学</a>PHP团队实习生。
    </p>

    <p>好吧，还是正经一点儿，这里讨论以下几大主题：</p>

    <ol>
      <li>服务器端开发技术，主要是Ruby和PHP. (没办法，kirineko是一个ruby coder)</li>
      <li>前端开发技术</li>
      <li>Node.js</li>
      <li>Animate, Comic, Games</li>
      <li>Galgame? H!? Hはダメ！</li>
      <li>Markdown, Latex, etc</li>
      <li>形式化方法</li>
    </ol>

    <h4 id="section-2">我的梦想是什么</h1>

    <p>喵想搞游戏啊，我想独立制作小游戏，RPG Maker什么的～想成为海底囚人那样的独立游戏制作人，想制作一款类似“大海原与大海原”一样的游戏！然而，我太懒了，现在什么都不会喵，学习的技术也不是那么高大上，我认识的大神却早已在openCV等高大上的领域里越走越远。</p>

    <p>嘛，人生苦短，我用python.</p>

    <h4 id="section-3">社区</h1>

    <p>希望未来还能在ACG社区和Open Source社区越走越远吧～就是这样子。</p>

</div>


<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
